<!DOCTYPE html>
<html>
  <head>
    <title>Create User</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Create User:</h1>
    <form action="/admin/createExec" method="POST">
      Username: <input name="usernameToCreate" value="" required="required"/><br />
      Password: <input name="passwordToCreate" value="" required="required"/><br />
      Full Name: <input name="fullnameToCreate" value="" required="required"/><br />
      Admin Rights?: <br />
      <input type="radio" id="true" name="adminToCreate" value="true"></input> 
      <label for="true">True</label><br />
      <input type="radio" id="false" name="adminToCreate" value="false"></input>
      <label for="false">False</label><br /><br />
      
      
      <input type="submit" value="Create!" />      
    </form>
  </body>
</html>
