<!DOCTYPE html>
<html>
  <head>
    <title>Image Gallery Home Page</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcome to Image Gallery App!</h1>
        <h3><a href="/files">File Manager Uploader</a></h3><br />
        <br />
        <a href="/files">Upload Images</a> (Same route as above)<br /><br />
        <a href="/viewImages">View Images</a><br />
        <br /><br />
        <h4><a href="/admin">Admin (List Users, Modify, Create, Delete))</a></h4><br /><br />
        <!-- <a href="/admin/users">admin/users using the new DAO version from M6</a><br /> -->
        <br/>
        <hr>
        <h2><a href="/login">Login</a></h2>
        <br />
        <a href="/debugSession">Debug Session Route (see your session values)</a>
        <br />
        <a href="/logout">log out of current session</a>
    </form>
  </body>
</html>
