<!DOCTYPE html>
<html>
  <head>
    <title>Modify User: {{ user }}</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Modifying {{ user }}</h1>
    <form action="/admin/modifyExec" method="POST">
      Current Password: <i>{{ password }}</i> | 
      New Password: <input name="passwordToEdit" value="" required="required" /><br /><br />
      Current Full Name: <i>{{ fullname }}</i> | 
      New Full Name: <input name="fullnameToEdit" value="" required="required" /><br /><br />
      Current admin status: <i>{{ admin }} </i>
      Admin Rights?: <br />
      <input type="radio" id="true" name="adminConfirm" value="true"></input> 
      <label for="true">True</label><br />
      <input type="radio" id="false" name="adminConfirm" value="false"></input>
      <label for="false">False</label><br />

      <input type="hidden" name="userToEdit" value={{ user }} />

      <input type="submit" value="Edit!" />
    </form>
  </body>
</html>
